{% extends "base.html" %}
{% block corpo %}

<div class="conteudo">
  {% include 'topo.html' %}
  <main>
    <div class="bloco_conteudo">

      {% block conteudo %}
      <div class="txt-inicio">
        <h2>SOBRE:</h2>
        <p>
          O site Ativamente foi desenvolvido com o propósito de facilitar o acesso de jovens e adolescentes de Camaçari
          a atividades formativas gratuitas.
          <br><br>
          A proposta é criar um espaço acessível e confiável onde os usuários possam encontrar oficinas, cursos, eventos
          culturais e oportunidades educativas que contribuam para seu desenvolvimento pessoal e social.
          <br><br>
          Ao proporcionar esse acesso, o Ativamente visa promover o crescimento socioeconômico e cultural da juventude
          local, ampliando horizontes e incentivando a construção de projetos de vida mais autônomos e conscientes.

          <br><br>
          Essa iniciativa pode ser relacionada à teoria do desenvolvimento psicossocial de Erik Erikson, especialmente
          ao estágio da identidade versus confusão de papéis, típico da adolescência.
          <br><br>
          Segundo Erikson, nesse período os jovens buscam entender quem são e qual é seu lugar no mundo.
          <br><br>
          Ao participar de atividades formativas e culturais, os adolescentes têm a chance de explorar diferentes
          interesses, construir habilidades, reforçar valores e estabelecer conexões sociais significativas
          <br><br>
          O Ativamente, portanto, atua como uma ferramenta que favorece a construção positiva da identidade, apoiando o
          jovem em sua jornada de autoconhecimento e inserção na sociedade.
        </p>
      </div>
      {% endblock %}
    </div>
  </main>
  {# {% include 'rodape.html' %} #}
</div>

{% endblock %}