{% extends "base.html" %}
{% block corpo %}

<div class="conteudo">
    {% include 'topo.html' %}
    <main>
        <div class="bloco_conteudo">

            {% block conteudo %}
            <div class="card border-0 shadow-sm">

                <div class="card-body">

                    <div class="table-responsive">

                        <table id="tabelaUsuarios" url="{{url()}}" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Instituição</th>
                                    <th>Telefone</th>
                                    <th>E-mail</th>
                                    <th>Link</th>
                                    <th>Endereço</th>
                                    <th>Atividades</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Projeto Oportunidade Através do Esporte - De Peito Aberto (DPA)</td>
                                    <td>(71) 4113-5252</td>
                                    <td>Comunicacao@depeitoaberto.com.br</td>
                                    <td>https://depeitoaberto.org.br</td>
                                    <td>R. do Telégrafo, s/n - Centro, Camaçari - BA, 42802-721</td>
                                    <td>Aulas de futsal, futebol de campo, natação e boxe para crianças e adolescentes
                                        de 7 a 17 anos</td>
                                </tr>
                                <tr>
                                    <td>Secretaria de Esporte, Lazer e Juventude (SEJUV)</td>
                                    <td>(71) 98137-1615</td>
                                    <td>ouvidoria@camacari.ba.gov.br</td>
                                    <td>Sem link</td>
                                    <td>Endereço divulgado pela SEJUV</td>
                                    <td>Aulões de capoeira, jiu-jitsu, FitDance e oficinas de teatro, voltadas para
                                        jovens e adolescentes</td>
                                </tr>
                                <tr>
                                    <td>Complexo Poliesportivo do CSU do Gravatá</td>
                                    <td>(71) 3621-5032 / (71) 3644-0837</td>
                                    <td>csucamacari@seades.ba.gov.br</td>
                                    <td>Sem link</td>
                                    <td>Avenida Vereador Pedro Ribeiro de Freitas, s/n - Gravatá, Camaçari - BA, CEP
                                        42808-130</td>
                                    <td>Aulas de jiu-jitsu, Zumba, Futebol, Futsal, Vôlei, Futevôlei, Informática</td>
                                </tr>
                                <tr>
                                    <td>Projeto Verão</td>
                                    <td>(71) 99979-5867</td>
                                    <td>seduc.apae@camacari.ba.gov.br</td>
                                    <td>Sem link</td>
                                    <td>Rua Francisco Drumond, S/N, Centro Administrativo, Camaçari - BA</td>
                                    <td>Futevôlei, vôlei de praia, futebol, baleado, skate, lutas, boxe, jiu-jitsu,
                                        capoeira, tirolesa, arborismo e escalada</td>
                                </tr>
                                <tr>
                                    <td>Projeto Esportes Olímpicos para Todos De Peito Aberto</td>
                                    <td>(71) 4113-5252 </td>
                                    <td>Comunicacao@depeitoaberto.com.br</td>
                                    <td>https://depeitoaberto.org.br/ </td>
                                    <td>R. do Telégrafo, s/n - Centro, Camaçari - BA, 42802-721</td>
                                    <td>O skate desenvolve o equilíbrio, a coordenação motora e incentiva a criatividade
                                        e a superação de limites pessoais. Já o judô promove disciplina, respeito,
                                        autocontrole e melhora a força e a flexibilidade. Ambos os esportes contribuem
                                        para o bem-estar físico e emocional das crianças e jovens.</td>
                                </tr>
                                <tr>
                                    <td>Projeto Capoeirando - De Peito Aberto</td>
                                    <td>(71) 4113-5252 </td>
                                    <td>Comunicacao@depeitoaberto.com.br</td>
                                    <td>https://depeitoaberto.org.br/ </td>
                                    <td>R. do Telégrafo, s/n - Centro, Camaçari - BA, 42802-721</td>
                                    <td>A capoeira promove o desenvolvimento físico por meio da força, flexibilidade e
                                        coordenação motora. Também fortalece valores como respeito, disciplina e
                                        identidade cultural. Além disso, favorece a inclusão social e o trabalho em
                                        grupo.</td>
                                </tr>
                                <tr>
                                    <td>SUDESB - Superintendência dos Desportos do Estado da Bahia</td>
                                    <td>(71) 3621-3600</td>
                                    <td>ouvidoria.sudesb1@sudesb.ba.gov.br</td>
                                    <td>https://www.sudesb.ba.gov.br/ </td>
                                    <td>A Superintendência dos Desportos do Estado da Bahia (SUDESB) não possui uma sede
                                        própria em Camaçari. No entanto, realiza atividades e vistorias em locais
                                        específicos da cidade. Em fevereiro de 2025, por exemplo, a SUDESB participou de
                                        uma vistoria no Estádio Municipal Fernando Ferreira Lopes, em colaboração com a
                                        Secretaria de Esporte, Lazer e Juventude (Sejuv) de Camaçari.</td>
                                    <td>A capoeira e outras modalidades esportivas melhoram o condicionamento físico, a
                                        saúde mental e promovem inclusão social. Elas desenvolvem disciplina,
                                        autoestima, respeito e trabalho em equipe. Além disso, ajudam na formação de
                                        valores e prevenção de doenças</td>
                                </tr>

                                <tr>
                                    <td>Força Meninas</td>
                                    <td></td>
                                    <td>Atendimento@frmeninas.com.br</td>
                                    <td>https://frmeninas.com.br/mulheresdefuturo/ </td>
                                    <td>O projeto Força Meninas não possui sede fixa em Camaçari. </td>
                                    <td>A Expedição oferece uma experiência imersiva e interativa para crianças e
                                        adolescentes de 10 a 15 anos, com foco na educação STEAM (Ciência, Tecnologia,
                                        Engenharia, Artes e Matemática).
                                        Espetáculo Teatral "Uma Janela Para o Mundo", Estações Interativas.
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>


                </div>
            </div>
            {% endblock %}
        </div>
    </main>
    {# {% include 'rodape.html' %} #}
</div>

{% endblock %}