{% extends "base.html" %}
{% block corpo %}

<div class="conteudo">
    {% include 'topo.html' %}
    <main>
        <div class="bloco_conteudo">

            {% block conteudo %}
            <div class="row">
                <div class="col-lg-3 card border-2 shadow-sm mb-1 ms-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 card border-2 shadow-sm mb-3">
                                <div class="card-body">
                                    <img src="templates/site/assets/img/equipepsc-famec.jpg" alt="" id="imgPhoto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7-half card border-2 shadow-sm mb-1 ms-4">
                    <div class="card-body">
                        <p>
                            Somos um grupo de estudantes do curso de Psicologia da Universidade FAMEC, em Camaçari (BA),
                            unidas por um propósito comum: promover o acesso à informação e ao desenvolvimento pessoal
                            de jovens e adolescentes da nossa cidade.
                            <br> <br>

                            Foi com esse objetivo que criamos o Ativamente, um site pensado para facilitar a busca por
                            cursos formativos gratuitos oferecidos em Camaçari. Sabemos que muitos jovens desejam
                            crescer, aprender e conquistar novas oportunidades, mas muitas vezes enfrentam barreiras
                            para encontrar os recursos certos
                            <br><br>
                            O Ativamente nasce como uma ponte entre esses jovens e as oportunidades disponíveis.
                            <br><br>
                            Nossa equipe é formada por:
                            Amanda Luísa de Sousa, Cássia Daiana da Silva de Souza Lima, Cátia Regina Botelho da Silva,
                            Emilly Roberta Santos Fagundes, Eva Hevaneide Leonel de Melo, Jamilly Ayana de Souza
                            Andrade, Jéssyca Layne Lucas Alexandre e Nailza Ribeiro da Silva.
                            <br><br>
                            Cada uma de nós traz sua visão, sensibilidade e dedicação para esse projeto, acreditando
                            que, com informação e apoio, é possível transformar vidas.
                            <br><br>




                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7-half card border-2 shadow-sm mb-1 ms-4">
                    <div class="card-body">
                        <p>
                            Somos uma equipe de estudantes dedicada a dar forma, estrutura e funcionalidade a ideias que
                            podem transformar realidades. Fazemos parte do Ativamente, um projeto idealizado pela equipe
                            de Psicologia da Universidade FAMEC, que trouxe todo o conteúdo e a proposta de facilitar o
                            acesso de jovens e adolescentes de Camaçari a cursos formativos gratuitos.
                            <br> <br>
                            Coube a nós — Rafael Vecchi, Mariana Gonçalves e Nicolly Brasil — o desafio de transformar
                            essa ideia em um site funcional, capaz de conectar quem precisa de oportunidades com quem
                            oferece conhecimento.
                            <br> <br>
                            Cada um contribuiu em diferentes etapas do processo: organização da estrutura, análise de
                            necessidades junto aos idealizadores, definição de fluxos, criação de protótipos no Figma,
                            escolha de cores, ajustes na interface e desenvolvimento do código. Assim, somamos nossas
                            habilidades em planejamento de sistemas, design de interface e programação para que o
                            Ativamente saísse do papel e chegasse até o público.
                            <br> <br>
                            Sabemos que tecnologia é sempre um processo em evolução. Por isso, nossa equipe segue
                            comprometida com atualizações e melhorias, para que o Ativamente se torne cada vez mais
                            prático, bonito e fácil de usar.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 card border-2 shadow-sm mb-1 ms-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 card border-2 shadow-sm mb-3">
                                <div class="card-body">
                                    <img src="templates/assets/img/trabalhodaunifamec.png" alt="" id="imgPhoto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endblock %}
        </div>
    </main>
    {# {% include 'rodape.html' %} #}
</div>

{% endblock %}